.container{
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 100px 100px; 
}

.items-container{
    grid-column: 1/span 1;
    margin-right: 20px;
}
.cart-container{
    grid-column: 2/span 1;
    border: 1px solid #dddd;
    height: 250px;
    border-radius: 10px;
    padding: 20px 30px;
    position: relative;
}
.cart-container h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin: 0;
}
.cart-container p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;

}
.checkout-btn {
    position: absolute;
    
    left: 50%;
    translate: -50%;
    bottom: 10px;
    background-color: #333333;
}

@media screen and (max-width: 1900px){
    .container{
        display: flex;
        flex-direction: column;   
    }
    .cart-container{
        width: 50%;
        margin: 50px auto;
    }
}

@media screen and (max-width:1500px){
 .container{
    margin: 100 0;
 }
}
@media screen and (max-width:1100px){
 .container{
    margin: 100 0;
 }
}
@media screen and (max-width:1000px){
  .cart-container{
    max-width:100%;
    
  }
  .container{
    margin: 50px 0; 
  }
}
@media screen and (max-width:800px){
  .items-container{
    padding: 0;
    margin: 0;
  }
 
}

