body{
    margin-left: 100px;
    margin-right: 100px;
 }

 @media screen and (max-width:1102px){
    body{
        margin-left: 80px;
        margin-right: 80px;
    }
 }

@media screen and (max-width:900px) {
        body{
            margin-left: 50px;
            margin-right: 50px;
        }
    }
@media screen and (max-width:600px) {
        body{
            margin-left: 20px;
            margin-right: 20px;
        }
    }
